@media (max-width: 1570px) {
  .dexilion-features {
    padding: 112px 0 0 0;
  }
}

@media (max-width: 992px) {
  .dexilion-features {
    min-height: unset;
  }
  .features-item-descr {
    font-size: 18px;
    line-height: 21px;
  }
}

@media (max-width: 768px) {
  .features-item {
    transform: none!important;
    opacity: 1;
  }

  .dexilion-features-title {
    left: 0;
    animation: none;
  }

  .features-item.animate__animated.animate__fadeInUp.active {
    opacity: 1;
    transform: none!important;
    animation: none;
  }
}

@media (max-width: 700px) {
  .features-item {
    flex-direction: column;
  }

  .features-item-descr-wrapper {
    padding: 16px 0 0 0;
    width: 100%;
    max-width: 280px;
  }

  .features-item-title-wrapper {
    width: 100%;
    max-width: 260px;
  }

  .features-item-title {
    font-size: 20px;
  }

  .features-item-descr {
    font-size: 16px;
  }
}
