.section.active .show {
  animation: show 0.7s linear;
}

@keyframes show {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes scale {
  from {
    z-index: -1;
    transform: scale(0) rotate(360deg);
  }

  50% {
    z-index: 1;
    transform: scale(0) rotate(180deg);
  }

  to {
    z-index: 4;
    transform: scale(1) rotate(0deg);
  }
}

@keyframes down {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rain {
  from {
    opacity: 0;
    transform: translate(40%, -40%);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
  
}