.section.active .show {
  animation: show 0.7s ease-out;
}

.section.active .title-show {
  animation: show 1s ease-out;
}

.section.active .first .hide-block {
  animation: size-animation 2.5s linear;
}

.section.active .second .hide-block {
  animation: size-animation 4s linear;
}

.section.active .about.up-block.block-first {
  animation: up 1.2s linear;
}

.section.active .about.up-block.block-second {
  animation: up 1.5s linear;
}


.dexilion-counter {
  width: 20px;
  height: 20px;
  top: 0;
  right: -20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.first {
  position: relative;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.hide-block {
  position: absolute;
  top: 0;
  background-color: var(--bg-main-color);
  width: 100%;
  height: 100%;
}

.first .hide-block.active {
  height: 0;
}

.first span {
  display: block;
  font-size: 16px;
  line-height: 16px;
  color: var(--btn-color);
}

.second {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.second span {
  display: block;
  font-size: 16px;
  line-height: 16px;
  color: var(--btn-color);
}

.second .hide-block.active {
  height: 0;
}

@keyframes size-animation {
  from {
    height: 100%;
  }

  50% {
    height: 50%;
  }

  to {
    height: 0;
  }
}

@keyframes show {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes scale {
  from {
    z-index: -1;
    transform: scale(0) rotate(360deg);
  }

  50% {
    z-index: 1;
    transform: scale(0) rotate(180deg);
  }

  to {
    z-index: 4;
    transform: scale(1) rotate(0deg);
  }
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(70%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes down {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rain {
  from {
    opacity: 0;
    transform: translate(40%, -40%);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
