.section.active .show {
  animation: show 0.7s linear;
}


@keyframes show {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes scale {

  from {
    transform: scale(0) rotate(180deg);
  }
  to {
    transform: scale(1) rotate(0deg);
  }
  
}
