.section.active .show {
  animation: show 0.7s ease-out;
}

.section.active .title-show {
  animation: show 1s ease-out;
}


@keyframes size-animation {
  from {
    height: 100%;
  }

  50% {
    height: 50%;
  }

  to {
    height: 0;
  }
}

@keyframes show {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes scale {
  from {
    z-index: -1;
    transform: scale(0) rotate(360deg);
  }

  50% {
    z-index: 1;
    transform: scale(0) rotate(180deg);
  }

  to {
    z-index: 4;
    transform: scale(1) rotate(0deg);
  }
}

@keyframes up {
  from {
    opacity: 0;
    transform: translateY(70%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes down {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rain {
  from {
    opacity: 0;
    transform: translate(40%, -40%);
  }

  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}
