@media (max-width: 1000px) {
  .btn {
    min-width: 150px;
  }
}

@media (max-width: 992px) {
  .btn {
    min-width: 100%;
    outline: none;
  }
  .btn:hover {
    background-color: var(--btn-color);
  }
}
