.dexilion-counter {
  width: 20px;
  height: 20px;
  top: 0;
  right: -20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
}

.hide-block {
  position: absolute;
  top: 0;
  background-color: var(--bg-main-color);
  width: 100%;
  height: 100%;
  transition: .8s all;
}

.dexilion-counter span {
  display: block;
  font-size: 16px;
  line-height: 16px;
  color: var(--btn-color);
}

.first-number .hide-block.active {
  animation: size-animation 1s linear;
  height: 0;
}

.second-number .hide-block.active {
  animation: size-animation 1s linear .3s;
  height: 0;
}

/* keyFrames */
@keyframes size-animation {
  from {
    height: 100%;
  }

  50% {
    height: 50%;
  }

  to {
    height: 0;
  }
}

@keyframes scale {
  from {
    z-index: -1;
    transform: scale(0) rotate(360deg);
  }

  50% {
    z-index: 1;
    transform: scale(0) rotate(180deg);
  }

  to {
    z-index: 4;
    transform: scale(1) rotate(0deg);
  }
}

@keyframes down {
  from {
    opacity: 0;
    transform: translateY(-80px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .hide-block {
    animation: none;
    height: 0 !important;
  }

  .dexilion-roadmap-title .dexilion-counter {
    left: unset;
  }
}
