@media (max-width: 1200px) {
  .header-nav-wrapper {
    width: 100%;
  }
  .header-nav {
    width: 100%;
    justify-content: center;
  }
  .header-nav-list {
    justify-content: space-between;
  }
  .nav-list-item {
    margin: 0 20px 0 0;
  }

  .demo-btn {
    margin: 0;
  }
}

@media (max-width: 992px) {
}
@media (max-width: 768px) {
  .mobile {
    display: block;
  }
}
