@media (max-width: 1280px) {
  .hero-img-round {
    left: 24%;
  }

  .hero-img-line.line-first {
    left: -15px;
  }

  .hero-img-line.line-second {
    left: 163px;
  }

  .hero-img-line.line-third {
    left: 340px;
  }
}

@media (max-width: 1200px) {
  .hero-img-round {
    left: 25%;
  }
}

@media (max-width: 1100px) {
  .hero-title-img {
    width: 158px;
  }

  .hero-img-round {
    left: 11%;
  }

  .hero-img-line.line-first {
    left: -120px;
  }

  .hero-img-line.line-second {
    left: 58px;
  }

  .hero-img-line.line-third {
    left: 235px;
  }
}

@media (max-width: 1000px) {
  .dexilion-hero {
    padding: 120px 0 0 0;
    align-items: flex-start;
  }
  .hero-wrapper {
    flex-wrap: wrap;
  }

  .hero-text {
    width: 100%;
    max-width: 100%;
  }

  .hero-try {
    margin: 25px 0 0 0;
  }

  .hero-title {
    max-width: 550px;
  }
  .hero-img {
    margin: 0 auto;
    position: relative;
    transform: none;
    width: 759px;
    height: 100%;
    overflow: hidden;
  }

  .hero-img-round {
    top: 10px;
    left: 244px;
    max-width: 220px;
    max-height: 220px;
  }

  .hero-img-round svg {
    width: 100%;
    height: 100%;
  }

  .hero-img-line {
    max-width: 250px;
  }

  .hero-img-line svg {
    width: 100%;
    height: 100%;
  }

  .hero-img-line.line-first {
    top: 120px;
    left: 114px;
  }

  .hero-img-line.line-second {
    left: 235px;
    top: 120px;
  }

  .hero-img-line.line-third {
    left: 355px;
    top: 120px;
  }
}

@media (max-width: 768px) {
  .dexilion-hero {
    padding: 112px 0 0 0;
    height: 700px;
    background: url('../../../img/hero-bg.png') center 90%/70% no-repeat;
  }

  .hero-text {
    animation: none;
  }

  .hero-img {
    display: none;
  }
}

@media (max-width: 600px) {
  .hero-title {
    max-width: 375px;
  }

  .hero-title-img {
    width: 112px;
    display: inline-block;
    margin: 0;
  }

  .hero-title-sub-text {
    display: inline-block;
  }

  .hero-img-round {
    top: 61px;
    left: 149px;
  }

  .hero-img-line.line-first {
    top: 170px;
    left: 20px;
  }

  .hero-img-line.line-second {
    top: 170px;
    left: 140px;
  }

  .hero-img-line.line-third {
    top: 170px;
    left: 260px;
  }
}

@media (max-width: 550px) {
  .dexilion-hero {
    background: url('../../../img/hero-bg.png') center 70% / 90% no-repeat;
  }
  .hero-try {
    margin: 0;
    position: absolute;
    bottom: -380px;
    width: 100%;
  }
}

@media (max-width: 360px) {
  .hero-try {
    bottom: -290px;
  }
}

@media (max-width: 320px) {
  .hero-try {
    bottom: 0;
  }
}
