.dexilion-how {
  height: 100vh;
  background-color: var(--bg-main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Scrollbar Styling */
.dexilion-how ::-webkit-scrollbar {
  width: 10px;
}

.dexilion-how ::-webkit-scrollbar-track {
  background-color: var(--main-border-color);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.dexilion-how ::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: var(--main-gray-color);
}

.dexilion-how-title {
  position: relative;
}

.dexilion-how-title:before {
  content: '03';
  top: -19px;
  left: 262px;
  display: block;
  position: absolute;
  color: var(--btn-color);
  font-size: 16px;
}

.dexilion-steps-wrapper {
  margin: 80px 0 0 0;
  display: flex;
  flex-wrap: wrap;
  height: 490px;
  overflow-y: scroll;
}

.dexilion-step-item {
  width: 100%;
  display: flex;
}

.step-image-wrapper {
  width: 50%;
}

.step-image-general {
  position: relative;
  cursor: pointer;
}

.step-image-general img {
  max-width: 100%;
}

.step-sub-img {
  position: absolute;
  cursor: pointer;
}

.step-sub-img img {
  max-width: 100%;
}

.step-text-wrapper {
  width: 50%;
  padding: 55px 0 0 160px;
}

.step-title {
  margin: 20px 0 0 0;
}

.step-counter {
  font-size: 16px;
  font-weight: 700;
  color: var(--btn-color);
}

.step-descr {
  margin: 24px 0 0 0;
  max-width: 400px;
  color: var(--main-gray-color);
  font-size: 20px;
  line-height: 30px;
}

.step-icons {
  margin: 24px 0 0 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.step-icon {
  width: 40px;
  margin: 0 26px 0 0;
  cursor: pointer;
}

.step-icon-link {
  display: block;
  text-decoration: none;
}

.step-icon:last-child {
  margin: 0;
}

.step-icon img {
  max-width: 100%;
}

.reversed .step-image-wrapper {
  order: 2;
}

.reversed .step-title {
  margin: 24px 0 0 0;
}

.step-image-general.connect-wallet {
  max-width: 590px;
}

.step-sub-img.connect-wallet {
  max-width: 441px;
  bottom: -35px;
  right: -40px;
}

.dexilion-step-item.deposit-funds {
  padding: 115px 0 0 0;
}

.step-image-general.deposit-funds {
  max-width: 392px;
  z-index: 1;
}

.step-sub-img.deposit-funds {
  max-width: 322px;
  top: 40px;
  right: -236px;
  z-index: -1;
}

.dexilion-step-item.sell-derivatives {
  padding: 80px 0 0 0;
}

.step-image-general.sell-derivatives {
  max-width: 590px;
}

.step-sub-img.sell-derivatives {
  max-width: 219px;
  right: -40px;
  top: 40px;
}

.dexilion-step-item.track-position {
  padding: 120px 0 0 0;
}

.step-image-general.track-position {
  max-width: 630px;
}
