.dexilion-features {
  padding: 120px 0 0 0;
  background-color: var(--bg-main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.dexilion-features-title {
  position: relative;
}

.dexilion-features-title::before {
  content: '02';
  left: 257px;
  top: -19px;
  display: block;
  position: absolute;
  color: var(--btn-color);
  font-size: 16px;
}

.features-items-wrapper {
  margin: 80px 0 0 0;
  border: 1px solid var(--main-border-color);
  border-radius: 8px;
}

.features-item {
  display: flex;
  border-bottom: 1px solid var(--main-border-color);
  padding: 40px;
  cursor: pointer;
  transition: 0.5s all;
}

.features-item:hover {
  background-color: var(--item-bg-hover);
}

.features-item:hover .features-item-descr {
  color: #fff;
}

.features-item-title-wrapper {
  width: 50%;
}

.features-item-descr-wrapper {
  display: flex;
  align-items: center;
  padding: 0 0 0 40px;
  width: 50%;
}

.features-item-title {
  max-width: 460px;
}

.features-item-descr {
  font-size: 20px;
  line-height: 30px;
  color: var(--main-gray-color);
  transition: 0.5s all;
}
