@import './blocks/header/header-media.css';
@import './blocks/btns/btns-media.css';
@import './blocks/hero/hero-media.css';
@import './blocks/titles/titles-media.css';
@import './blocks/about-dexilion/about-dexilion-media.css';