@import './fonts.css';
@import './animate.min.css';
@import './btns.css';
@import './titles.css';
@import './header.css';
@import './hero.css';
@import './about-dexilion.css';
@import './dexilion-features.css';
@import './dexilion-how.css';
@import './dexilion-roadmap.css';
@import './footer.css';

:root {
  --bg-main-color: #111222;
  --main-gray-color: #a4a5af;
  --main-border-color: #282942;
  --dex-demo-color: #111222;
  --btn-color: #ffb200;
  --btn-hover-color: #ffc233;
  --titles-color: #fff;
  --item-bg-hover: #16172c;
}

.container {
  width: 100%;
  max-width: 1320px;
  padding: 0 20px;
  margin: 0 auto;
}
