.dexilion-roadmap {
  padding: 200px 0 120px 0;
  background-color: var(--bg-main-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dexilion-roadmap-title {
  position: relative;
  display: inline-block;
  left: -100%;
}

.dexilion-roadmap-title.active {
  left: 0;
}

.dexilion-roadmap-title .dexilion-counter {
  left: 185px;
}

.roadmap-progress-wrapper {
  margin: 80px 0 0 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.roadmap-progress-wrapper.mobile {
  display: none;
}

.progress-item {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  max-width: 256px;
  min-height: 206px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 39px;
  cursor: pointer;
  transition: 0.5s all;
  border: 1px solid transparent;
  opacity: 0;
  visibility: hidden;
}

.progress-item-line {
  width: 0;
  height: 2px;
  background-color: var(--btn-color);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.5s all;
}

.progress-item::after {
  content: '';
  display: block;
  box-sizing: border-box;
  position: absolute;
  bottom: -1px;
  left: 0;
  height: 2px;
  width: 100%;
  background-color: var(--main-border-color);
}

.progress-item::before {
  content: '';
  display: block;
  box-sizing: border-box;
  width: 14px;
  height: 14px;
  border: 2px solid var(--btn-color);
  border-radius: 50%;
  position: absolute;
  bottom: -6px;
  background-color: var(--bg-main-color);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  transition: 0.5s all;
}

.progress-item:nth-child(6) {
  top: -3px;
  margin: 0 0 0 auto;
  border-radius: 17px 17px 0 0;
}

.progress-item:nth-child(7),
.progress-item:nth-child(8) {
  border-radius: 17px 17px 0 0;
  top: -3px;
}

.progress-item:nth-child(9) {
  top: -3px;
  border-radius: 17px 17px 0 0;
  margin: 0 auto 0 0;
}

.progress-item:nth-child(6) .progress-item-line,
.progress-item:nth-child(7) .progress-item-line,
.progress-item:nth-child(8) .progress-item-line,
.progress-item:nth-child(9) .progress-item-line {
  top: 0;
}

.progress-item:nth-child(6)::after,
.progress-item:nth-child(7)::after,
.progress-item:nth-child(8)::after,
.progress-item:nth-child(9)::after {
  display: none;
}

.progress-item:nth-child(6)::before,
.progress-item:nth-child(7)::before,
.progress-item:nth-child(8)::before,
.progress-item:nth-child(9)::before {
  top: -7px;
}

.progress-item:nth-child(6):hover,
.progress-item:nth-child(7):hover,
.progress-item:nth-child(8):hover,
.progress-item:nth-child(9):hover {
  border-radius: 17px 17px 4px 4px;
}

.progress-item:nth-child(6):hover .progress-item-line,
.progress-item:nth-child(7):hover .progress-item-line,
.progress-item:nth-child(8):hover .progress-item-line,
.progress-item:nth-child(9):hover .progress-item-line {
  width: 96%;
  left: 4px;
}

.progress-item-mobile {
  box-sizing: border-box;
  max-width: 256px !important;
  min-height: 213px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px;
  cursor: pointer;
  transition: 0.5s all;
  border: 1px solid transparent;
}

.progress-item.active {
  opacity: 1;
  visibility: visible;
  transition: 0.5s all;
}

.progress-item:hover {
  background-color: var(--item-bg-hover);
  border: 1px solid var(--main-border-color);
  border-radius: 4px;
  box-sizing: border-box;
}

.progress-item:hover .progress-item-line {
  width: 100%;
  z-index: 1;
}

.progress-item:hover::before {
  background-color: var(--btn-color);
}

.progress-item:hover .progress-item-descr {
  color: #fff;
}

.progress-item-year {
  font-size: 16px;
  display: block;
  line-height: 24px;
  color: var(--btn-color);
}

.progress-item-title {
  margin: 12px 0 0 0;
  font-size: 20px;
  line-height: 30px;
  color: var(--titles-color);
}

.progress-item-descr {
  transition: 0.5s all;
  color: var(--main-gray-color);
  font-size: 16px;
  line-height: 24px;
}
