.dexilion-roadmap {
  padding: 200px 0 120px 0;
  background-color: var(--bg-main-color);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.dexilion-roadmap-title {
  position: relative;
  display: inline-block;
  left: -100%;
}

.dexilion-roadmap-title.active {
  left: 0;
}

.dexilion-roadmap-title .dexilion-counter {
  left: 185px;
}

.roadmap-progress-wrapper {
  margin: 80px 0 0 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.roadmap-progress-wrapper.mobile {
  display: none;
}

.progress-item {
  box-sizing: border-box;
  width: 100%;
  max-width: 256px;
  min-height: 206px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px;
  cursor: pointer;
  transition: 0.5s all;
  border: 1px solid transparent;
  opacity: 0;
  visibility: hidden;
}
.progress-item-mobile {
  box-sizing: border-box;
  width: 256px;
  min-height: 213px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 40px;
  cursor: pointer;
  transition: 0.5s all;
  border: 1px solid transparent;
}

.progress-item.active {
  opacity: 1;
  visibility: visible;
  transition: 0.5s all;
}

.progress-item:hover {
  background-color: var(--item-bg-hover);
  border: 1px solid var(--main-border-color);
  border-radius: 4px;
}

.progress-item:hover .progress-item-descr {
  color: #fff;
}

.progress-item-year {
  font-size: 16px;
  display: block;
  line-height: 24px;
  color: var(--btn-color);
}

.progress-item-title {
  margin: 12px 0 0 0;
  font-size: 20px;
  line-height: 30px;
  color: var(--titles-color);
}

.progress-item-descr {
  transition: 0.5s all;
  color: var(--main-gray-color);
  font-size: 16px;
  line-height: 24px;
}
