@media (max-width: 1750px) {
  .dexilion-roadmap {
    padding: 112px 0 0 0;
  }
}

@media (max-width: 1156px) {
  .roadmap-progress-wrapper {
    justify-content: space-between;
  }
}

@media (max-width: 800px) {
  .roadmap-progress-wrapper {
    justify-content: center;
  }
}

@media (max-width: 540px) {
  .dexilion-roadmap {
    padding: 0;
    align-items: center;
  }
  .roadmap-progress-wrapper.desktop {
    display: none;
  }
  .roadmap-progress-wrapper.mobile {
    display: block;
    padding: 0 0 80px 0;
    position: relative;
  }

  .roadmap-progress-slider{
    max-width: 256px;
    margin: 0 auto;
  }

  .slick-track {
    display: flex;
    justify-content:space-between;
  }

  .slick-arrow {
    display: none;
  }

  .progress-bar {
    padding: 0 10px;
    width: 100%;
    max-width: 343px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: var(--main-border-color);
    display: flex;
    justify-content: space-around;
  }

  .progress-bar-item {
    top: 50%;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    border: 2px solid var(--btn-color);
    border-radius: 50%;
  }

  .progress-bar-item.active {
    background-color: var(--btn-color);
  }

  .progress-bar-item.active:before {
    content: '';
    position: absolute;
    left: -22px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    height: 2px;
    width: 20px;
    background-color: var(--btn-color);
  }

  .progress-bar-item.active:after {
    content: '';
    position: absolute;
    right: -26px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    height: 2px;
    width: 25px;
    background-color: var(--btn-color);
  }

  .progress-item-mobile.slick-active {
    background-color: var(--item-bg-hover);
    border: 1px solid var(--main-border-color);
    border-radius: 4px;
  }
}

@media (max-width: 400px) {
  .progress-item {
    padding: 32px;
  }

  .progress-item-descr {
    font-size: 14px;
    line-height: 21px;
  }
}
