@media (max-width: 1750px) {
  .dexilion-how {
    padding: 112px 0 0 0;
  }
}

@media (max-width: 1200px) {
  .dexilion-step-item.deposit-funds {
    padding: 50px 0 0 0;
  }

  .dexilion-step-item.reversed .step-text-wrapper {
    padding: 55px 0 0 50px;
  }

  .step-sub-img.deposit-funds {
    right: -161px;
  }

  .reversed .step-image-wrapper {
    padding: 0 165px 0 0;
  }

  .dexilion-step-item.track-position.reversed .step-image-wrapper {
    padding: 0;
  }
}

@media (max-width: 1100px) {
  .step-sub-img.deposit-funds {
    max-width: 280px;
  }
}

@media (max-width: 1000px) {
  .step-text-wrapper {
    padding: 55px 0 0 100px;
  }
}

@media (max-width: 992px) {
  .step-descr {
    font-size: 16px;
    line-height: 25px;
  }

  .step-sub-img.deposit-funds {
    max-width: 250px;
  }
}
@media (max-width: 930px) {
  .reversed .step-image-wrapper {
    padding: 0 165px 0 10px;
  }
}

@media (max-width: 900px) {
  .step-text-wrapper .step-counter {
    display: none;
  }

  .step-sub-img.deposit-funds {
    max-width: 330px;
  }

  .reversed .step-image-wrapper {
    padding: 0 165px 0 0;
  }

  .reversed .step-image-wrapper {
    order: 0;
  }

  .dexilion-step-item.reversed .step-text-wrapper {
    padding: 0;
  }

  .step-text-wrapper .step-title {
    display: none;
  }

  .dexilion-mobile-titles {
    margin: 40px 0 0 0;
    display: block;
  }

  .dexilion-steps-wrapper {
    margin: 24px 0 0 0;
  }

  .dexilion-step-item {
    flex-wrap: wrap;
  }

  .step-text-wrapper {
    width: 100%;
    padding: 0;
    margin: 43px 0 0 0;
  }
  .step-image-wrapper {
    width: 100%;
    padding: 0 35px 0 0;
  }
  .step-descr {
    margin: 0;
  }

  .dexilion-step-item.track-position {
    padding: 50px 0 0 0;
  }
}

@media (max-width: 768px) {
  .dexilion-step-item.sell-derivatives {
    padding: 50px 0 0 0;
  }

  .dexilion-step-item.sell-derivatives .step-descr {
    margin: 40px 0 0 0;
  }
}
@media (max-width: 576px) {
  .step-counter {
    font-size: 14px;
  }

  .step-title {
    margin: 12px 0 0 0;
  }

  .step-image-general.connect-wallet {
    max-width: 321px;
  }

  .step-sub-img.connect-wallet {
    max-width: 240px;
    top: 103px;
    right: -21px;
  }

  .step-descr {
    font-size: 14px;
    line-height: 21px;
  }

  .step-icons {
    margin: 16px 0 0 0;
  }
  .step-icon {
    width: 37px;
  }

  .reversed .step-image-wrapper {
    padding: 0;
  }

  .dexilion-step-item.deposit-funds {
    padding: 24px 0 0 0;
  }

  .step-image-general.deposit-funds {
    max-width: 214px;
  }

  .step-sub-img.deposit-funds {
    max-width: 175px;
    right: -128px;
    top: 21px;
  }

  .step-image-general.sell-derivatives {
    max-width: 321px;
  }

  .dexilion-step-item.sell-derivatives {
    padding: 24px 0 0 0;
  }

  .step-sub-img.sell-derivatives {
    max-width: 119px;
    top: 21px;
    right: -22px;
  }

  .dexilion-step-item.sell-derivatives .step-descr {
    margin: 0;
  }

  .dexilion-step-item.sell-derivatives .step-image-wrapper {
    padding: 0;
  }
}

@media (max-width: 450px) {
  .dexilion-step-item.track-position {
    padding: 24px 0 0 0;
  }

  .step-image-general.track-position {
    max-width: 343px;
  }
}

@media (max-width: 350px) {
  .step-text-wrapper {
    margin: 65px 0 0 0;
  }
}
