.dexilion-how {
  padding: 200px 0 120px 0;
  min-height: 100vh;
  background-color: var(--bg-main-color);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.dexilion-how-title {
  position: relative;
  display: inline-block;
  left: -100%;
}

.dexilion-how-title.active {
  left: 0;
}

.dexilion-steps-wrapper {
  margin: 80px 0 0 0;
  display: flex;
  flex-wrap: wrap;
}

.dexilion-how.step-2,
.dexilion-how.step-3,
.dexilion-how.step-4 {
  padding: 80px 0 0 0;
}

.dexilion-how.step-2 .dexilion-steps-wrapper,
.dexilion-how.step-3 .dexilion-steps-wrapper,
.dexilion-how.step-4 .dexilion-steps-wrapper {
  margin: 0;
}

.dexilion-step-item {
  width: 100%;
  display: flex;
}

.step-image-wrapper {
  width: 50%;
}

.step-image-general {
  position: relative;
  cursor: pointer;
  transform: translateY(120%);
  opacity: 0;
  transition: 0.5s all;
}

.step-image-general.active {
  transform: translateY(0%);
  opacity: 1;
  transition: 0.8s all;
}

.step-image-general img {
  max-width: 100%;
}

.step-sub-img {
  position: absolute;
  cursor: pointer;
  transform: translateY(120%);
  opacity: 0;
  transition: 0.5s all;
}

.step-sub-img.active {
  transform: translateY(0%);
  opacity: 1;
}

.step-sub-img img {
  max-width: 100%;
}

.step-text-wrapper {
  width: 50%;
  padding: 55px 0 0 160px;
  transform: translateY(120%);
  opacity: 0;
  transition: 0.5s all;
}

.step-text-wrapper.active {
  transform: translateY(0%);
  opacity: 1;
}

.step-title {
  margin: 20px 0 0 0;
}

.step-counter {
  font-size: 16px;
  font-weight: 700;
  color: var(--btn-color);
}

.step-descr {
  margin: 24px 0 0 0;
  max-width: 400px;
  color: var(--main-gray-color);
  font-size: 20px;
  line-height: 30px;
}

.step-icons {
  margin: 24px 0 0 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.step-icon {
  width: 40px;
  margin: 0 26px 0 0;
  cursor: pointer;
}

.step-icon-link {
  display: block;
  text-decoration: none;
}

.step-icon:last-child {
  margin: 0;
}

.step-icon img {
  max-width: 100%;
}

.reversed .step-image-wrapper {
  order: 2;
}

.reversed .step-title {
  margin: 24px 0 0 0;
}

.step-image-general.connect-wallet {
  max-width: 590px;
}

.step-sub-img.connect-wallet {
  max-width: 441px;
  bottom: -35px;
  right: -40px;
}

.dexilion-step-item.deposit-funds {
  padding: 115px 0 0 0;
}

.step-image-general.deposit-funds {
  max-width: 392px;
  z-index: 1;
}

.step-sub-img.deposit-funds {
  max-width: 322px;
  top: 40px;
  right: -236px;
  z-index: -1;
}

.dexilion-step-item.sell-derivatives {
  padding: 80px 0 0 0;
}

.step-image-general.sell-derivatives {
  max-width: 590px;
}

.step-sub-img.sell-derivatives {
  max-width: 219px;
  right: -40px;
  top: 40px;
}

.dexilion-step-item.track-position {
  padding: 120px 0 0 0;
}

.step-image-general.track-position {
  max-width: 630px;
}
