@media (max-width: 1280px) {
  .hero-img-round {
    left: 24%;
  }

  .hero-img-line.line-first {
    left: -15px;
  }

  .hero-img-line.line-second {
    left: 163px;
  }

  .hero-img-line.line-third {
    left: 340px;
  }
}

@media (max-width: 1200px) {
  .hero-img-round {
    left: 25%;
  }
}

@media (max-width: 1100px) {
  .hero-about {
    font-size: 18px;
  }

  .hero-title-img {
    width: 158px;
  }

  .hero-img-round {
    left: 11%;
  }

  .hero-img-line.line-first {
    left: -120px;
  }

  .hero-img-line.line-second {
    left: 58px;
  }

  .hero-img-line.line-third {
    left: 235px;
  }
}

@media (max-width: 1000px) {
  .dexilion-hero {
    padding: 120px 0 0 0;
    align-items: flex-start;
  }
  .hero-wrapper {
    flex-wrap: wrap;
  }

  .hero-title {
    margin: 10px 0 0 0;
  }

  .hero-text {
    width: 100%;
    max-width: 100%;
  }

  .hero-try {
    margin: 25px 0 0 0;
  }

  .hero-title {
    max-width: 550px;
  }
  .hero-img {
    margin: 0 auto;
    position: relative;
    transform: none;
    width: 759px;
    height: 100%;
    overflow: hidden;
  }

  .hero-img-round {
    top: 10px;
    left: 244px;
    max-width: 220px;
    max-height: 220px;
  }

  .hero-img-round svg {
    width: 100%;
    height: 100%;
  }

  .hero-img-line {
    max-width: 250px;
  }

  .hero-img-line svg {
    width: 100%;
    height: 100%;
  }

  .hero-img-line.line-first {
    top: 120px;
    left: 114px;
  }

  .hero-img-line.line-second {
    left: 235px;
    top: 120px;
  }

  .hero-img-line.line-third {
    left: 355px;
    top: 120px;
  }
}

@media (max-width: 768px) {
  .dexilion-hero {
    padding: 112px 0 0 0;
    height: auto;
  }

  .hero-img {
    width: 100%;
  }
  .hero-img-round {
    top: 2px;
    left: 214px;
  }

  .hero-img-line.line-first {
    top: 110px;
    left: 89px;
  }

  .hero-img-line.line-second {
    top: 110px;
    left: 210px;
  }

  .hero-img-line.line-third {
    top: 110px;
    left: 330px;
  }
}

@media (max-width: 600px) {
  .hero-about {
    font-size: 14px;
  }

  .hero-title {
    max-width: 375px;
  }

  .hero-title-img {
    width: 112px;
    display: inline-block;
    margin: 0;
  }

  .hero-title-sub-text {
    display: inline-block;
  }

  .hero-img-round {
    top: 61px;
    left: 149px;
  }

  .hero-img-line.line-first {
    top: 170px;
    left: 20px;
  }

  .hero-img-line.line-second {
    top: 170px;
    left: 140px;
  }

  .hero-img-line.line-third {
    top: 170px;
    left: 260px;
  }
}

@media (max-width: 550px) {
  .hero-try {
    margin: 0;
    position: absolute;
    bottom: -380px;
    width: 100%;
  }

  .hero-img-stars {
    overflow: hidden;
    width: 100%;
    height: 300px;
  }

  .hero-img-round {
    top: 54px;
    top: 47px;
    left: 143px;
    max-width: 175px;
    max-height: 175px;
  }

  .hero-img-round svg {
    width: 100%;
    height: 100%;
  }

  .hero-img-line {
    height: 171px;
  }

  .hero-img-line.line-first {
    top: 132px;
    left: 38px;
    bottom: 51px;
  }

  .hero-img-line.line-second {
    top: 132px;
    left: 135px;
  }
  .hero-img-line.line-third {
    top: 132px;
    left: 230px;
  }
}

@media (max-width: 450px) {
  .hero-img-round {
    top: 60px;
    left: 89px;
    max-width: 144px;
    max-height: 144px;
  }

  .hero-img-line {
    max-width: 170px;
    height: 170px;
  }

  .hero-img-line.line-first {
    left: 0;
  }
  .hero-img-line.line-second {
    left: 81px;
  }
  .hero-img-line.line-third {
    left: 159px;
  }
}

@media (max-width: 360px) {
  .hero-img-line {
    height: 120px;
  }

  .hero-img-stars {
    height: 230px;
  }

  .hero-img-round {
    left: 70px;
    top: 69px;
    max-width: 127px;
    max-height: 127px;
  }

  .hero-img-line.line-first {
    left: 0;
  }

  .hero-img-line.line-second {
    left: 67px;
  }

  .hero-img-line.line-third {
    left: 134px;
  }

  .hero-try {
    bottom: -290px;
  }
}

@media (max-width: 320px) {
  .hero-try {
    bottom: 0;
  }
}
