.dexilion-hero {
  background-color: var(--bg-main-color);
  min-height: 667px;
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.hero-about {
  display: block;
  font-weight: 700;
  font-size: 20px;
  color: var(--btn-color);
  text-transform: uppercase;
}

.hero-text {
  max-width: 609px;
  position: relative;
}

.hero-title {
  margin: 32px 0 0 0;
}

.hero-title-sub-text {
  display: flex;
}

.hero-title-img {
  width: 185px;
  margin: 0 0 0 10px;
}

.hero-title-img img {
  max-width: 100%;
}

.hero-img {
  width: 60%;
  height: 578px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 0;
}

.hero-img img {
  width: 100%;
  height: 100%;
}

.hero-img-round {
  z-index: 4;
  max-width: 320px;
  max-height: 320px;
  position: absolute;
  top: 23%;
  left: 28%;
}

.hero-img-line {
  position: absolute;
  max-width: 369px;
}

.hero-img-line.line-first {
  visibility: hidden;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
}

.hero-img-line.line-second {
  visibility: hidden;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  left: 201px;
}

.hero-img-line.line-third {
  visibility: hidden;
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  left: 376px;
}

.hero-img-line svg {
  transform: rotate(180deg);
  max-width: 100%;
}

.hero-img-line svg rect {
  width: 107px;
}

.hero-img-line.animated {
  visibility: visible;
}

.hero-img-line.line-first svg rect {
  animation: lineup 1s ease-out;
}

.line-second rect {
  animation: lineup 1s ease-out 0.5s;
}

.line-third rect {
  animation: lineup 1s ease-out 1s;
}

.hero-try {
  margin: 52px 0 0 0;
}

.hero-img-round svg {
  animation: scale 1.5s ease-in-out 1s;
  -webkit-box-shadow: 0px 0px 100px 27px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 100px 27px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 100px 27px rgba(0, 0, 0, 0.2);
  background-color: transparent;
  border-radius: 50%;
}
