@media (max-width: 1280px) {
  .hero-img-round {
    left: 24%;
  }

  .hero-img-line.line-first {
    left: -15px;
  }

  .hero-img-line.line-second {
    left: 163px;
  }

  .hero-img-line.line-third {
    left: 340px;
  }
}

@media (max-width: 1200px) {
  .hero-img-round {
    left: 25%;
  }
}

@media (max-width: 1100px) {
  .hero-about {
    font-size: 18px;
  }

  .hero-title-img {
    width: 158px;
  }

  .hero-img-round {
    left: 11%;
  }

  .hero-img-line.line-first {
    left: -120px;
  }

  .hero-img-line.line-second {
    left: 58px;
  }

  .hero-img-line.line-third {
    left: 235px;
  }
}

@media (max-width: 1000px) {
  .dexilion-hero {
    padding: 120px 0 0 0;
    align-items: flex-start;
  }
  .hero-wrapper {
    flex-wrap: wrap;
  }

  .hero-text {
    width: 100%;
    max-width: 100%;
  }

  .hero-try {
    margin: 25px 0 0 0;
  }

  .hero-title {
    max-width: 550px;
  }
  .hero-img {
    margin: 0 auto;
    position: relative;
    transform: none;
    width: 759px;
    height: 100%;
    overflow: hidden;
  }

  .hero-img-round {
    top: 0;
    left: 196px;
  }

  .hero-img-line.line-first {
    top: 160px;
    left: 0;
  }

  .hero-img-line.line-second {
    left: 178px;
    top: 160px;
  }

  .hero-img-line.line-third {
    left: 355px;
    top: 160px;
  }
}

@media (max-width: 768px) {
  .dexilion-hero {
    padding: 112px 0 0 0;
  }
  .hero-img-round {
    top: 30px;
    left: 180px;
    max-width: 200px;
    max-height: 200px;
  }

  .hero-img-round svg {
    width: 100%;
    height: 100%;
  }

  .hero-img-line svg {
    height: 200px;
  }
  .hero-img-line.line-first {
    top: 120px;
    left: 0px;
  }

  .hero-img-line.line-second {
    top: 120px;
    left: 113px;
  }

  .hero-img-line.line-third {
    top: 120px;
    left: 225px;
  }
}

@media (max-width: 576px) {
  .hero-about {
    font-size: 14px;
  }

  .hero-title {
    max-width: 375px;
  }

  .hero-title-img {
    width: 112px;
    display: inline-block;
    margin: 0;
  }

  .hero-title-sub-text {
    display: inline-block;
  }

  .hero-img-round {
    top: 78px;
    left: 118px;
  }

  .hero-img-line.line-first {
    top: 170px;
    left: -66px;
  }

  .hero-img-line.line-second {
    top: 170px;
    left: 47px;
  }

  .hero-img-line.line-third {
    top: 170px;
    left: 159px;
  }
}

@media (max-width: 550px) {
  .hero-try {
    margin: 0;
    position: absolute;
    bottom: -440px;
    width: 100%;
  }

  .hero-img-round {
    top: 67px;
    left: 106px;
    width: 144px;
    height: 144px;
  }

  .hero-img-round svg {
    width: 100%;
    height: 100%;
  }

  .hero-img-line {
    height: 171px;
  }

  .hero-img-line svg {
    width: 100%;
    height: 100%;
  }

  .hero-img-line svg rect {
    width: 91px;
  }
  .hero-img-line.line-first {
    top: 132px;
    left: 0;
    bottom: 51px;
  }

  .hero-img-line.line-second {
    top: 132px;
    left: 82px;
  }
  .hero-img-line.line-third {
    left: 163px;
    top: 132px;
  }
}

@media (max-width: 390px) {
  .hero-img-line {
    height: 150px;
  }
  .hero-img-round {
    top: 71px;
    left: 94px;
    width: 130px;
    height: 130px;
  }
  .hero-img-line.line-second {
    left: 72px;
  }
  .hero-img-line.line-third {
    left: 144px;
  }
  .hero-try {
    bottom: -270px;
  }
}

@media (max-width: 350px) {
  .hero-img-line {
    height: 120px;
  }
  .hero-img-round {
    left: 77px;
    top: 85px;
    width: 100px;
    height: 100px;
  }
  .hero-img-line.line-second {
    left: 57px;
  }
  .hero-img-line.line-third {
    left: 114px;
  }
}
