.dexilion-hero {
  background-color: var(--bg-main-color);
  min-height: 700px;
  height: calc(100vh - 80px);
  /* height: 100vh; */
  display: flex;
  align-items: center;
}

.hero-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
}

.hero-about {
  display: block;
  font-weight: 700;
  font-size: 20px;
  color: var(--btn-color);
  text-transform: uppercase;
}

.hero-text {
  max-width: 609px;
  position: relative;
  z-index: 1;
}

.hero-title {
  margin: 32px 0 0 0;
}

.hero-title-sub-text {
  display: flex;
}

.hero-title-img {
  width: 185px;
  margin: 0 0 0 10px;
}

.hero-title-img img {
  max-width: 100%;
}

.hero-img {
  width: 60%;
  height: 578px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  z-index: 0;
}

.hero-img img {
  width: 100%;
  height: 100%;
}

.hero-img-round {
  z-index: 4;
  max-width: 320px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hero-img-line {
  position: absolute;
  max-width: 369px;
}

.hero-img-line.line-first {
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
}

.hero-img-line.line-second {
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  left: 201px;
}

.hero-img-line.line-third {
  z-index: 3;
  top: 50%;
  transform: translateY(-50%);
  left: 376px;
}

.hero-try {
  margin: 52px 0 0 0;
}
